@import 'styles/colors';
@import 'styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;

  > header {
    height: 40px;
    display: flex;
    justify-content: space-between;

    max-width: calc(1726px + 2 * 30px);
    @include centeredHorizontal;

    padding: 20px 30px 0;

    .imgLogoWrapper {
      width: 128px;
      height: 40px;
    }

    ul {
      display: flex;
      align-items: center;

      > *:not(:last-child) {
        margin-right: 28px !important;
      }

      li {
        list-style-type: none;

        text-decoration: none;
        font-family: 'MontserratBold', sans-serif;
        font-size: 14px;
        line-height: 17px;

        color: $blue-1;

        cursor: pointer;
        z-index: 2;

        > a {
          position: relative;
        }

        &:hover {
          color: $blue-2;

          > a:after {
            content: ' ';
            width: 11px;
            height: 3px;
            bottom: -5px;
            background-color: $blue-2;
            position: absolute;
            border-radius: 32px;
            left: calc(50% - 11px / 2);
          }
        }
      }
    }

    .btnMenu {
      width: 25px;
      height: 25px;
      filter: drop-shadow(0px 0px 5px rgba(68, 96, 241, 0.56));

      cursor: pointer;
    }
  }
}
