@import 'styles/colors';
@import 'styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;

  > header {
    height: 40px;
    display: flex;
    justify-content: space-between;

    max-width: calc(1726px + 2 * 30px);
    @include centeredHorizontal;

    padding: 20px 30px 0;

    .imgLogoWrapper {
      width: 128px;
      height: 40px;
    }

    .navbar {
      display: flex;
      align-items: center;

      > *:not(:last-child) {
        margin-right: 28px !important;
      }

      .ellipse {
        min-width: 4px;
        min-height: 4px;
        width: 4px !important;
        height: 4px !important;
        max-width: 4px;
        max-height: 4px;
        background: $gray-2;
        border-radius: 2px;
        list-style-type: none;

        text-decoration: none;
      }

      .item:not(.ellipse) {
        list-style-type: none;

        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;

        color: $blue-1;

        cursor: pointer;
        z-index: 2;

        > a {
          position: relative;

          > .afterLine {
            display: none;
          }
        }

        &:hover {
          color: $blue-2;

          > a:before {
            content: ' ';
            width: 11px;
            height: 3px;
            bottom: -5px;
            background-color: $blue-2;
            position: absolute;
            border-radius: 32px;
            left: calc(50% - 11px / 2);
          }
        }
      }
    }

    .btnMenu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    > header {
      padding: 20px 24px 0 25px;

      .btnMenu {
        display: flex;
        width: 40px;
        height: 40px;

        cursor: pointer;

        justify-content: center;
        align-items: center;
        z-index: 2;

        > span,
        > span > span,
        > span > span > img {
          cursor: pointer;
        }
      }

      .navbar {
        display: none;
      }
    }
  }
}
