@import 'styles/colors';
@import 'styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;
  position: relative;

  .imgWrapper1 {
    position: absolute;
    left: 500px;
    top: -60px;
    background: $blue-4;
    opacity: 0.77;
    filter: blur(180px);
    z-index: 1;
  }
  .imgWrapper2 {
    position: absolute;
    left: 580px;
    top: -160px;
    background: $pink-1;
    filter: blur(190px);
    z-index: 1;
  }

  .imgWrapper3 {
    position: absolute;
    left: -290px;
    top: 720px;
    background: $blue-5;
    opacity: 1;
    filter: blur(402px);
    z-index: 1;
  }

  > .mainContent {
    display: grid;
    grid-template-columns: auto 1fr;

    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;

    padding: 139px 30px 0 30px;
    position: relative;
    > .leftSide {
      > .text {
        display: flex;
        flex-direction: column;

        white-space: pre-line;

        > h2 {
          color: $black-2;
          font-size: 35px;
          line-height: 43px;
          margin-bottom: 40px;
          font-family: 'MontserratBold', sans-serif;
        }

        > p {
          color: $black-1;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 60px;
        }
      }

      > aside {
        font-size: 15px;
        line-height: 18px;
        color: $gray-1;

        white-space: pre-line;

        > .line {
          border-top: 1px solid $gray-2;
          max-width: 462px;
          margin-bottom: 20px;
        }
      }
    }

    > *:last-child {
      width: 700px !important;
      height: 700px !important;

      > span > img {
        object-fit: contain;
      }
    }
  }

  > .information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;
    padding: 50px 30px 0;
    > .contacts {
      display: flex;
      justify-content: space-between;

      margin-bottom: 30px;
      > .item {
        display: flex;

        > *:first-child {
          width: 50px !important;
          height: 50px !important;
        }

        > .contactInfo {
          margin-left: 20px;

          > h3 {
            font-size: 15px;
            line-height: 18px;
            color: $gray-2;
            margin-bottom: 7px;
          }

          > a {
            font-size: 18px;
            line-height: 22px;
            color: $black-3;
            font-family: 'MontserratBold', sans-serif;

            white-space: nowrap;
          }
        }
      }

      > *:first-child {
        margin-right: 147px;
      }
      > *:last-child {
        margin-right: 10px;
      }
    }

    > .business {
      display: flex;
      justify-content: space-between;

      > *:not(:last-child) {
        margin-right: 77px;
      }

      > .item {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;

        color: $gray-1;
        white-space: pre-line;
        cursor: pointer;
      }
    }
  }
}
