@import 'styles/colors';

.input {
  max-width: 465px;
  height: 65px;

  background: $blue-3;
  border-radius: 20px;
  border: none;
  padding: 0 35px;
  color: $black-2;
  font-family: 'MontserratMedium', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  &::placeholder {
    font-family: 'MontserratMedium', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $gray-1;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &.error {
    border: 1px solid $red-1;
    color: $red-1;

    &::placeholder {
      color: $red-1;
    }
  }
}
