@import 'styles/colors';

.button {
  width: 221px;
  height: 53px;
  background: $blue-2;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;

  color: white;

  margin-bottom: 208px;
  z-index: 2;
  &:hover {
    cursor: pointer;
    background: $gradient-1;
  }
}
