@import 'styles/colors';

.modalWrapper {
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;

  .background {
    width: 100%;
    height: 100%;
    position: absolute;

    left: 0;
    top: 0;

    background: url('/assets/modalBackground.webp');
    background-size: cover;

    > span,
    > span > span,
    > span > span > img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .modal {
    position: absolute;
    width: 756px;
    height: 683px;

    background: white;
    z-index: 10;

    top: calc(50vh - 683px / 2);
    left: calc(50vw - 756px / 2);

    border-radius: 7px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    .closeModalIcon {
      position: absolute;
      cursor: pointer;
      right: 30px;
      top: 30px;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 915px) {
  .modalWrapper {
    .modal {
      width: 633px;
      left: calc(50vw - 633px / 2);
    }
  }
}

@media screen and (max-width: 768px) {
  .modalWrapper {
    .modal {
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      padding: 32px 0 0 0;
      border-radius: 0;
      .closeModalIcon {
        right: 24px;
        top: 24px;
        width: 31px;
        height: 31px;
      }
    }
  }
}
