$blue-1: #1a2878;
$blue-2: #4460f1;
$black-1: #000001;
$black-2: #040505;
$black-3: #4c4d52;
$gray-1: #8a96af;
$gray-2: #c6cfe0;
$gradient-1: linear-gradient(199.88deg, rgba(124, 70, 180, 0.97) -32.33%, rgba(54, 77, 198, 0.97) 131.24%);
$gradient-2: linear-gradient(89.94deg, #cfdbf5 0.05%, #9ba9f0 20.34%, #e6e9ff 47.83%, #d9bbf7 76.94%, #eddefb 98.7%);
