@import 'styles/colors';
@import 'styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;
  margin-top: 270px;
  position: relative;

  .imgWrapper1 {
    position: absolute;
    left: 290px;
    top: -140px;
    background: $blue-4;
    opacity: 0.77;
    filter: blur(150px);
    z-index: 1;
  }
  .imgWrapper2 {
    position: absolute;
    left: 220px;
    top: -90px;
    background: $pink-1;
    filter: blur(200px);
    z-index: 1;
  }
  .content {
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 20px;
    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;

    padding: 0 30px;
    .left {
      display: flex;
      flex-direction: column;

      h2 {
        font-family: 'MontserratBold', sans-serif;
        font-size: 35px;
        line-height: 43px;
        color: $black-2;
        max-width: 442px;
        margin-bottom: 30px;
      }

      p {
        font-size: 15px;
        line-height: 18px;
        color: $gray-1;
        max-width: 640px;
        margin-bottom: 50px;
      }

      .maps {
        display: flex;
        flex-wrap: wrap;
        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 174px;
          height: 50px;
          background: white;
          border-radius: 7px;
          cursor: pointer;
        }

        > *:not(:last-child) {
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
    }

    .right {
      margin-bottom: 153px;
    }

    .maps {
      display: flex;
      flex-wrap: wrap;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 174px;
        height: 50px;
        background: white;
        border-radius: 7px;
        cursor: pointer;
      }

      > *:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 914px) {
  .wrapper {
    .content {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, max-content);

      .left {
        p {
          margin-bottom: 20px;
        }
      }

      .right {
        margin-bottom: 100px;
      }

      .maps {
        .item {
          width: 271px;
          height: 84px;
        }
      }
    }
  }
}
